/* ************************************************
/* CSS
/**************************************************/

/* BORDER BOX HACK */
* {
	box-sizing: border-box;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/***************************************************
/* LAYOUT
*****************************************************/
*,
*::before,
*::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body{
	line-height: 1.4;
	min-height: 100%;
	background-color: transparent;
}

a{
	text-decoration: none;
}

/***************************************************
/* ADDITIONAL STYLES
*****************************************************/
.custom-banner-container{
	background-image: url('https://images.fineartamerica.com/images-medium-large/mars-exploration-rover-spirit-stocktrek-images.jpg');
	position: relative;
	height:60vh;
	width: 100%;
	background-size:cover;
	background-position: center;
}
.custom-banner-container .banner-head-overlay{
	position: absolute;
	bottom:0;
	z-index: 2;
	width:100%;
}
.custom-banner-container .article-title{
	text-align: center;
	color: #fff;
	margin-bottom: 0.1em;
}
.gradient-container-bottom, .gradient-container-top{
	position: absolute;
	z-index: 1;
	width: 100%;
	max-height: 45%;
	height: 200px;
}

.gradient-container-top{
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
	top:0;
}
.gradient-container-bottom{
	bottom:0;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}
.layout{
	width:90%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding: 3em 0;
}
.nav-color{
	background-color: #ff4081;
	height:45px;
}
.nav{
	display: flex;
	width:100%;
	justify-content: center;
	text-transform: uppercase;
	align-items:center;
	width:100%;
	margin: 0;
	z-index: 1000;
}
.nav.sticky{
	position: fixed;
	top: 0;
	left: 0;
}
.nav ul{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav ul li{
	position: relative;
	list-style: none;
	margin: 0;
	border-color:#fff;
	font-size: 1.1rem;
	font-weight: 600;
	padding-top: 10px;
}

.nav .current .nav-title .main-nav-item{
	color:rgb(43, 118, 217);
	background-color:white;
}

.nav .main-nav-item{
	color:white; 
	padding: 0.5rem 1rem;
	text-decoration: none;
	cursor: pointer;
	font-weight: 600;
	position: relative;
	letter-spacing: 2px;

}
.nav .main-nav-item:hover {
	color: rgb(43, 118, 217);
	background: white;
}

.explanation{
	display: flex;
}

.paths{
	margin:0;

}
.paths span a{
	color: rgb(43, 118, 217);
	text-decoration: none;
}
.paths span a:hover{
	text-decoration: underline;
}

.spaceing{
	padding: 1em;
}

table, th, td{
	border: 1px solid;
}
th, td{
	padding:1em;
}

table{
	border-spacing: 0;
	width:100%;
	max-width:400px;
	/* margin:0 auto; */
	display: block;

}

ul{
	list-style-type: none;
}

.cameras ul{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.date-label-container{
	display: flex;
	justify-content:center;
	text-align: center;
}

.get-date{
	margin-left:1em;
	background-color: #ff4081;
	color: #fff;
	height: 2em;
	width: 10em;
	border-color: #ff4081;
	box-shadow: 3px 3px 3px #751a39;
	cursor: pointer;
	border-radius: 7px;
}

.get-date:active{
	box-shadow: -2px -2px 3px #751a39 ;
}

.number-sol, .total-photo{
	font-weight: 700;
}

.hidden{
	display: none;
}

/* Pagination styles */

.pagination {
	display: flex;
}

input[type=number]{
	width: 30px;
	text-align: center;
	border: 2px solid grey;
	opacity: 1;
}

input[type=number]::-webkit-inner-spin-button {
	appearance: none;
}

/* img styleing */

.raw-list-image .raw-image-list .raw-image-container img{
	position: relative;
	max-height: 100%;
	width: auto;
}


