/* ************************************************
/* CSS
/**************************************************/

/* BORDER BOX HACK */
*{
	box-sizing: border-box;
	font-family:'Roboto', Arial, Helvetica, sans-serif;
}

/***************************************************
/* LAYOUT
*****************************************************/
*, *::before, *::after{
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}
body{
	font-size: 16px;
	height:100%;
	width:100%;
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(180deg, rgba(64, 25, 16, 0.527) 22%, rgba(166, 50, 8, 0.526) 59%, rgba(166, 66, 8, 0.521) 100%),url(../img/mars_atmosphere.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin:0;
}

header{
	color:white;
	text-align: center;
}
/***************************************************
/* ADDITIONAL STYLES
*****************************************************/

/* COUNTDOWN STYLES THANKS NASA! */
.countdown .dividing_line_container .counter_subtitle:before,
.countdown .dividing_line_container .counter_subtitle:after,
.historic_clock .dividing_line_container .counter_subtitle:before,
.historic_clock .dividing_line_container .counter_subtitle:after {
	content: '';
	display: inline-block;
	height: 1px;
	width: 100%;
	border-top: 1px solid #101010;
}

.countdown .dividing_line_container .counter_subtitle>span,
.historic_clock .dividing_line_container .counter_subtitle>span {
	flex: 0 0 auto;
	font-size: .8rem;
	padding: 0 0.5rem;
	color: gray;
	text-transform: uppercase;
	font-weight: 600;
	max-width: 88%;
}

.countdown .dividing_line_container .counter_subtitle,
.historic_clock .dividing_line_container .counter_subtitle {
	display: flex;
	align-items: center;
	width: 100%;
}

.countdown .dividing_line_container hr,
.historic_clock .dividing_line_container hr {
	margin: 0;
	border-top: 1px solid #101010;
	width: 100%;
}

.countdown .countdown_title,
.historic_clock .countdown_title {
	font-size: 1.6em;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 3px;
}

.countdown .date_label_container,
.historic_clock .date_label_container {
	font-weight: 600;
	color: #777;
	margin-top: 2px;
	margin-bottom: 0.5rem;
}

.countdown .time_label,
.historic_clock .time_label {
	clear: both;
	display: block;
	color: #868686;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	margin-top: -2px;
	font-weight: 700;
}

.countdown .unit:first-of-type,
.historic_clock .unit:first-of-type {
	padding-left: 0;
}

.countdown .unit,
.historic_clock .unit {
	display: inline-block;
	position: relative;
	font-size: 2em;
	font-weight: 300;
	padding: 0 6px;
	vertical-align: middle;
	text-align: right;
	line-height: 1.1;
}

.countdown .unit+.unit:before,
.historic_clock .unit+.unit:before {
	content: " : ";
	position: absolute;
	left: -4px;
}

/* CAROUSEL STYLES */

.slider{
	position: relative;
	background-color: rgb(215, 214, 214);
	width:989px;
	height: 432px;
	margin: 50px auto;
	box-shadow: 0 4px 4px 0 rgb(0 0 0 / 52%), 0 1px 5px 0 rgb(0 0 0 / 45%), 0 3px 1px -2px rgb(0 0 0 / 20%);
	overflow: hidden;
	border-radius: 0.5em;
}

.slider-controls{
	position: absolute;
	bottom: 0px;
	left: 50%;
	width:200px;
	text-align: center;
	transform: translatex(-50%);
	z-index: 1000;

	list-style: none;
	text-align: center;
}

.slider input[type="radio"]{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 0;
	height: 0;
}

.slider-controls label{
	display: inline-block;
	border: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #212121;
	transition: background-color 0.2s linear;
}

#btn-1:checked~.slider-controls label[for="btn-1"] {
	background-color: #ff4081;
}

#btn-2:checked~.slider-controls label[for="btn-2"] {
	background-color: #ff4081;
}

#btn-3:checked~.slider-controls label[for="btn-3"] {
	background-color: #ff4081;
}

/* Slides */

.slides{
	list-style: none;
	padding: 0;
	margin: 0;
	height: 100%;
}

.slide{
	position: absolute;
	top:0;
	left: 0;

	display: flex;
	justify-content: space-between;
	padding: 20px;
	width: 100%;
	height: 100%;

	opacity: 0;
	transform: translateX(-100%);
	transition: transform  250ms linear;
}

.slide-content{
	width: 400px;
}
.countdown{
	margin:30px;
}
.slide-title{
	margin-bottom: 20px;
	font-size: 36px;
}

.slide-txt{
	margin-bottom: 20px;
}

.slide-link {
	display: inline-block;
	padding: 10px 20px;
	color: #ffffff;
	border-radius: 3px;
	text-decoration: none;
	background-color: #ff4081;
}

img {
	width:500px;
	height:auto;
	margin: auto 3em;
	border-radius: 0.5em;
}

.spirit-img{
	margin: 2em 3em;
}

.cur-img{
	height: 400px;
	width:auto;
	margin-right:10em;
}

/* Slide animations */
#btn-1:checked~.slides .slide:nth-child(1) {
	transform: translateX(0);
	opacity: 1;
}

#btn-2:checked~.slides .slide:nth-child(2) {
	transform: translateX(0);
	opacity: 1;
}

#btn-3:checked~.slides .slide:nth-child(3) {
	transform: translateX(0);
	opacity: 1;
}

#btn-1:not(:checked)~.slides .slide:nth-child(1) {
	animation-name: swap-out;
	animation-duration: 300ms;
	animation-timing-function: linear;
}

#btn-2:not(:checked)~.slides .slide:nth-child(2) {
	animation-name: swap-out;
	animation-duration: 300ms;
	animation-timing-function: linear;
}

#btn-3:not(:checked)~.slides .slide:nth-child(3) {
	animation-name: swap-out;
	animation-duration: 300ms;
	animation-timing-function: linear;
}

@keyframes swap-out {
	0% {
		transform: translateX(0);
		opacity: 1;
	}

	50% {
		transform: translateX(50%);
		opacity: 0;
	}

	100% {
		transform: translateX(100%);
	}
}
/* footer */
footer p{
	font-family:"Quantico", Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin: auto 1em;
}

footer a{
	color: black;
	text-decoration: none;
	font-family: "Quantico",
		Arial,
		Helvetica,
		sans-serif;
}
 footer a:visited{
	color:rgba(84, 17, 1, 0.27);
 }


footer{
	display: flex;
	justify-content: center;

}

/* media queries */

/* phones */
@media screen and (max-width: 600px) {
	.slider{
		width: auto;
		margin: auto 1em;
		height: auto;
	}
	.slider-controls{
		display: none;
	}

	.slide{
		flex-direction: column;
		opacity: 1;
		transform: none;
		transition: none;
		position:static;
		width:87%;
	}
	.slide-content{
		width: 98%;
		overflow: hidden;
	}

	.countdown{
		margin:2em auto;
	}

	.countdown .unit, .historic_clock .unit{
		font-size: 1.9em;
	}

	.slide-link{
		width:100%;
	}

	img, .spirit-img {
		margin: auto;
		position: relative;
		width:100%;
		height: 100%;
	}
	#btn-1:not(:checked)~.slides .slide:nth-child(1), #btn-2:not(:checked)~.slides .slide:nth-child(2), #btn-3:not(:checked)~.slides .slide:nth-child(3){
		animation: none;
	}

	footer p:nth-child(2){
		display: none;
	}
	footer p{
		margin: 1em;
		color: rgb(210, 210, 210);
	}
	footer{
		background-color:  #ff4081;
		border-radius: 5px;
	}
	footer a{
		color: rgb(210, 210, 210);
	}
	footer a:visited{
		color:rgb(70, 1, 1);
	}
}