/* ************************************************
/* CSS
/**************************************************/

/* BORDER BOX HACK */
*{
	box-sizing: border-box;
}

/***************************************************
/* LAYOUT
*****************************************************/
*, *::before, *::after{
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}
body{
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
}
/***************************************************
/* ADDITIONAL STYLES
*****************************************************/

/* COUNTDOWN STYLES THANKS NASA! */
.countdown .dividing_line_container .counter_subtitle:before,
.countdown .dividing_line_container .counter_subtitle:after,
.historic_clock .dividing_line_container .counter_subtitle:before,
.historic_clock .dividing_line_container .counter_subtitle:after {
	content: '';
	display: inline-block;
	height: 1px;
	width: 100%;
	border-top: 1px solid #E8E8E8;
}

.countdown .dividing_line_container .counter_subtitle>span,
.historic_clock .dividing_line_container .counter_subtitle>span {
	flex: 0 0 auto;
	font-size: .8rem;
	padding: 0 0.5rem;
	color: gray;
	text-transform: uppercase;
	font-weight: 600;
	max-width: 88%;
}

.countdown .dividing_line_container .counter_subtitle,
.historic_clock .dividing_line_container .counter_subtitle {
	display: flex;
	align-items: center;
	width: 100%;
}

.countdown .dividing_line_container hr,
.historic_clock .dividing_line_container hr {
	margin: 0;
	border-top: 1px solid #E8E8E8;
	width: 100%;
}

.countdown .countdown_title,
.historic_clock .countdown_title {
	font-size: 1.6em;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 3px;
}

.countdown .date_label_container,
.historic_clock .date_label_container {
	font-weight: 600;
	color: #777;
	margin-top: 2px;
	margin-bottom: 0.5rem;
}

.countdown .time_label,
.historic_clock .time_label {
	clear: both;
	display: block;
	color: #868686;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	margin-top: -2px;
	font-weight: 700;
}

.countdown .unit:first-of-type,
.historic_clock .unit:first-of-type {
	padding-left: 0;
}

.countdown .unit,
.historic_clock .unit {
	display: inline-block;
	position: relative;
	font-size: 2em;
	font-weight: 300;
	padding: 0 6px;
	vertical-align: middle;
	text-align: right;
	line-height: 1.1;
}

.countdown .unit+.unit:before,
.historic_clock .unit+.unit:before {
	content: " : ";
	position: absolute;
	left: -4px;
}

/* CAROUSEL STYLES */

.slider{
	position: relative;
	width:989px;
	height: 432px;
	margin: 50px auto;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
			0 3px 1px -2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.slider-controls{
	position: absolute;
	bottom: 0px;
	left: 50%;
	width:200px;
	text-align: center;
	transform: translatex(-50%);
	z-index: 1000;

	list-style: none;
	text-align: center;
}

.slider input[type="radio"]{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 0;
	height: 0;
}

.slider-controls label{
	display: inline-block;
	border: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #212121;
	transition: background-color 0.2s linear;
}

#btn-1:checked~.slider-controls label[for="btn-1"] {
	background-color: #ff4081;
}

#btn-2:checked~.slider-controls label[for="btn-2"] {
	background-color: #ff4081;
}

#btn-3:checked~.slider-controls label[for="btn-3"] {
	background-color: #ff4081;
}

/* Slides */

.slides{
	list-style: none;
	padding: 0;
	margin: 0;
	height: 100%;
}

.slide{
	position: absolute;
	top:0;
	left: 0;

	display: flex;
	justify-content: space-between;
	padding: 20px;
	width: 100%;
	height: 100%;

	opacity: 0;
	transform: translatex(-100%);
	transition: transform  250ms linear;
}

.slide-content{
	width: 400px;
}
.countdown{
	margin:30px;
}
.slide-title{
	margin-bottom: 20px;
	font-size: 36px;
}

.slide-txt{
	margin-bottom: 20px;
}

.slide-link {
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	border-radius: 3px;
	text-decoration: none;
	background-color: #ff4081;
}

.slide-image img {
	max-width: 100%;
}

/* Slide animations */
#btn-1:checked~.slides .slide:nth-child(1) {
	transform: translatex(0);
	opacity: 1;
}

#btn-2:checked~.slides .slide:nth-child(2) {
	transform: translatex(0);
	opacity: 1;
}

#btn-3:checked~.slides .slide:nth-child(3) {
	transform: translatex(0);
	opacity: 1;
}

#btn-1:not(:checked)~.slides .slide:nth-child(1) {
	animation-name: swap-out;
	animation-duration: 300ms;
	animation-timing-function: linear;
}

#btn-2:not(:checked)~.slides .slide:nth-child(2) {
	animation-name: swap-out;
	animation-duration: 300ms;
	animation-timing-function: linear;
}

#btn-3:not(:checked)~.slides .slide:nth-child(3) {
	animation-name: swap-out;
	animation-duration: 300ms;
	animation-timing-function: linear;
}

@keyframes swap-out {
	0% {
		transform: translatex(0);
		opacity: 1;
	}

	50% {
		transform: translatex(50%);
		opacity: 0;
	}

	100% {
		transform: translatex(100%);
	}
}